body {
  background: #121212;
  color: #999;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.vx-axis g,
.vx-axis line {
  stroke: #999;
}

.vx-axis text {
  fill: #999;
}

.vx-bar {
  transition: height 150ms, y 150ms;
}
